@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f6fcff;
}

.index-container {
  margin-bottom: 5em;
}

.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
  color: #ff0000;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
  text-decoration: none;
  color: #000;
}

.links_list li a:hover {
  color: #bbb;
}

.active {
  background-color: #000;
  color: #fff;
}

/* dropdown */

.dropdown-menu {
  position: relative;
}

.dropdown-menu li {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 105%;
  padding: 0;
  width: 160px;
  right: 0;
  opacity: 0;
  transition-duration: 0.3s;
  transform: scaleY(0);
  background-color: #ffffff83;
  backdrop-filter: blur(3px);
}

.dropdown-menu:hover .dropdown {
  opacity: 1;
  transform: scaleY(1);
}

.dropdown li:hover {
  background-color: #cacecc;
  font-style: italic;
}

/* FOOTER */

.footer {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edf3f6;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 10px 0px;
}
